<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
</head>

<body>

	<h3>{{title}}</h3>

	<form action="" method="post">
		hub:
		<select name="hub">
			{{#select options.hub}}
			<option value="javascript"> Javascript </option>
			<option value="nodejs"> Node.js </option>
			<option value="php"> PHP </option>
			<option value="python"> Python </option>
			{{/select}}
		</select><br><br>
		pages:
		<select name="pages">
			{{#select options.pages}}
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			{{/select}}
		</select><br><br>
		<input type="submit" value="Get News">
	</form><br><br>

	{{#each posts}}
		<a href="{{href}}" target="_blank">{{text}}</a><br>
	{{/each}}

</body>
</html>