doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		script(src='/js/jquery.js')
		script(src='/js/bootstrap.min.js')

	body
		div.container
			h3= title
			strong= user.name
			span &nbsp;&nbsp;&nbsp;&nbsp;
			a.btn.btn-default(href="/logout") Lougout
			br
			br
			table.table.table-striped.table-bordered
				tr
					th Title
					th Author
					th Actions
				each article in articles
					tr
						td
							a&attributes({'href': '/article/' + article.id})= article.name
						td= users[article.user_id]
						td(style="width:1%;white-space:nowrap;")
							a.btn.btn-info&attributes({'href': '/article/' + article.id}) View
							if(article.user_id == user.id)
								a.btn.btn-warning(style="margin-left:20px;")&attributes({'href': 'article/edit/' + article.id}) Edit
								form(method="post", style="display:inline; margin-left:20px;")&attributes({'action': '/article/delete/' + article.id})
									input.btn.btn-danger(type="submit", name="action_delete", value="Delete")
			a.btn.btn-success(href="/article/add") Add