doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		script(src='/js/jquery.js')
		script(src='/js/bootstrap.min.js')

	body
		div.container
			h3= title
			strong= user.name
			span &nbsp;&nbsp;&nbsp;&nbsp;
			a.btn.btn-default(href="/logout") Lougout
			br
			br
			form(method="post")&attributes({'action': action})
				div.form-group
					label name
					input.form-control&attributes({'name': 'article[name]', 'value': article.name})

				div.form-group
					label content
					textarea.form-control&attributes({'name': 'article[content]'})= article.content

				a.btn.btn-default(href="/article") List
				span &nbsp;&nbsp;&nbsp;&nbsp;
				input.btn.btn-success(type="submit", value="Save")
