doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		script(src='/js/jquery.js')
		script(src='/js/bootstrap.min.js')

	body
		div.container
			div.row
				div.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4
					br
					form(method="post", action="/login")
						div.form-group
							label Email
							input.form-control(name='username')

						div.form-group
							label Password
							input.form-control(type='password', name='password')

						input.btn.btn-success(type="submit", value="Login")
