doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		script(src='/js/jquery.js')
		script(src='/js/bootstrap.min.js')

	body
		div.container
			h3= title
			table.table.table-bordered
				tr
					td name
					td= article.name
				tr
					td content
					td= article.content
			a.btn.btn-default(href="/article") List
			span &nbsp;&nbsp;&nbsp;&nbsp;
			a.btn.btn-info&attributes({'href': '/article/edit/' + article.id}) Edit